@media only screen and (max-width: 1000px) {
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        padding: 30px 0;
    }
    .about-info img {
        max-width: 50%;
        border-radius: 50%;
    }
    .about-info p {
        width: 100%;
        margin-top: 30px;
        line-height: 25px;
        background-color: #222;
        padding: 30px;
    }
    .about-desc {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    .experiences, .educations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timeline {
        display: none;
    }
    .experience-body, .education-body {
        padding: 30px;
    }
    .exp-title, .edu-degree {
        font-size: 1.5em;
    }
    .exp-company, .edu-institution {
        font-size: 1.25em;
    }
    .exp-location {
        font-size: 0.9em;
        display: inline-block;
        color: #ccc;
    }
    .exp-period, .edu-period {
        display: inline-block;
        padding: 0.5em;
        font-size: 0.8em;
        border: 0.1em solid #777;
        border-radius: 0.5em;
        margin: 0 1em 0 0;
        background-color: #333;
    }
    .edu-subject span {
        margin-right: 5px;
    }
    .exp-description, .edu-subject {
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .about-info img {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .about-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #333;
        padding: 2em 5em;
        margin-bottom: 1em;
    }
    .about-info img {
        width: 20em;
        border-radius: 50%;
    }
    .about-info p {
        width: 40%;
        background-color: #222;
        color: #ddd;
        padding: 2em;
    }
    .about-desc {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experiences, .educations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experiences-list, .education-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experience, .education {
        display: flex;
        justify-content: center;
    }
    .timeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .timeline .circle {
        width: 0;
        height: 0;
        border: 0.75em solid #aaa;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeline .circle .inner-circle {
        width: 0;
        height: 0;
        border: 0.5em solid #222;
        border-radius: 50%;
    }
    .timeline .line {
        width: 0;
        height: 100%;
        border: 0.15em solid #777;
    }
    .education:first-child .timeline .line:first-child,
    .education:last-child .timeline .line:last-child,
    .experience:first-child .timeline .line:first-child,
    .experience:last-child .timeline .line:last-child {
        border-color: #222;
    }
    .experience-body, .education-body {
        width: 40em;
        margin-left:1em;
        padding: 1em;
    }
    .experience-body p, .education-body p {
        margin-bottom: 0.5em;
    }
    .experience-body .exp-title, .education-body .edu-degree {
        font-size: 1.25em;
        font-weight: bold;
    }
    .experience-body .exp-company, .education-body .edu-institution {
        font-size: 1.25em;
    }
    .experience-body .exp-location {
        font-size: 0.9em;
        display: inline-block;
        margin-left: 1em;
        color: #ccc;
    }
    .experience-body .exp-period, .education-body .edu-period {
        display: inline-block;
        padding: 0.5em;
        font-size: 0.8em;
        border: 0.1em solid #777;
        border-radius: 0.5em;
        margin: 0;
        background-color: #333;
    }
    .exp-description, .edu-subject {
        line-height: 25px;
    }
}