@media only screen and (max-width: 1000px) {
    .certifications-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    .certifications-section h1 {
        margin-bottom: 40px;
        font-size: 24px;
    }
    .certifications-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .certification {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .certification-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        margin: 0;
        background-color: #333;
        cursor: pointer;
    }
    .certification-header p {
        font-size: 1.25em;
    }
    .certification-header .fa-chevron-up {
        display: none;
    }
    .certification-body {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        padding: 0 30px;
        background-color: #ddd;
        color: #222;
        box-shadow: inset 0 5px 10px #aaa;
        transition: 2s;
    }
    .certification-body .cert-date span {
        margin-left: 3px;
        font-size: 0.75em;
        background-color: #777;
        color: #ddd;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 5px;
    }
    .certification-body a {
        color: #222;
    }
    .certification-body span {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 600px) {
    .certifications-section h1 {
        font-size: 30px;
    }
    .certification-body {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px) {
    .certifications-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    .certifications-section h1 {
        margin-bottom: 50px;
        font-size: 30px;
    }
    .certifications-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .certification {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .certification-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        margin: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        background-color: #333;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #111;
    }
    .certification-header:hover {
        background-color: #111;
    }
    .certification-header p {
        font-size: 1.25em;
    }
    .certification-header .fa-chevron-up {
        display: none;
    }
    .certification-body {
        display: none;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        background-color: #ddd;
        color: #222;
        box-shadow: inset 0 5px 10px #aaa;
        transition: 2s;
    }
    .certification-body .cert-date span {
        margin-left: 3px;
        font-size: 0.75em;
        background-color: #777;
        color: #ddd;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 5px;
    }
    .certification-body a {
        color: #222;
    }
    .certification-body span {
        margin-left: 5px;
    }
}