/* .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ddd;
}
.footer h1 {
    color: #333;
}
.contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-links a {
    margin: 1em 0.5em;
    font-size: 4em;
    color: hsla(201, 50%, 20%, 0.8);
}
.contact-links a:hover {
    color: hsla(201, 50%, 20%, 1);
}
.footer p {
    color: #555;
    margin-bottom: 0;
    text-align: center;
}
.footer p:last-child {
    font-family: 'Satisfy', cursive;
} */

@media only screen and (max-width: 1000px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer h1 {
        padding: 100px 0 50px 0;
    }
    .contact-links {
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }
    .contact-links a {
        font-size: 3em;
    }
    .footer p {
        color: #aaa;
    }
    .footer p:last-child {
        font-family: 'Satisfy', cursive;
        margin: 0 0 30px 0;
    }
}