* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #222;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.odd-item {
    background-color: #333;
}
.section h1 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
}
@media only screen and (max-width: 1000px) {
    .section h1 {
        letter-spacing: 1px;
    }
}