* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #222;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.even-item {
    background-image: linear-gradient(
        to left,
        hsla(200, 50%, 50%, 0.5),
        hsla(150, 50%, 0%, 0.5)
    );
}
.odd-item {
    background-image: linear-gradient(
        to left,
        hsla(150, 50%, 0%, 0.5),
        hsla(200, 50%, 50%, 0.5)
    );
}
.section h1 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
}
@media only screen and (max-width: 1000px) {
    .section h1 {
        letter-spacing: 1px;
    }
}