* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #222;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.odd-item {
    background-color: #333;
}
.section h1 {
    font-family: 'Orbitron', sans-serif;
}
/* .section {
    margin: 4em 2em 5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section h1 {
    text-align: center;
    top: 2em;
    position: sticky;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.7em;
    padding: 1em;
    background-color: #222;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }
} */